body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.auth-container {
  position: relative;
  width: 587px;
  height: 543px;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 31px;
}
.input-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 63%;
  align-items: center;
  top: 16%;
}

.input-field {
  width: 482px;
  height: 81px;
  left: 479px;
  top: 364px;
  background: #edebeb;
  border-radius: 10px;
  font-family: Roboto;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  outline: none;
  color: rgba(10, 10, 10, 0.8);
}

.btn-submit {
  position: relative;
  width: 205px;
  height: 57px;
  left: 50%;
  top: 68%;
  background: #47ddcb;
  border-radius: 10px;
  transform: translate(-50%, 50%);
  outline: none;
}
.btn-txt {
  width: 126px;
  height: 42px;
  left: 657px;
  top: 700px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}
.auth-header {
  position: relative;
  width: 100%;
  height: 56px;
  left: 50%;
  transform: translate(-50%, 50%);
  right: auto;
  top: -2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}
::placeholder {
  width: 100px;
  height: 28px;
  left: ;
  top: 390px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: rgba(0, 0, 0, 0.6);
}

/* slots cards */

.slot-card {
  position: absolute;
  width: 222px;
  height: 56px;
  left: 165px;
  top: 307px;
  text-align: center;
  background: #ebebeb;
  border: 1px solid #47ddcb;
  box-sizing: border-box;
  border-radius: 10px;
}
.slot-card-text {
  /* position: absolute; */
  width: 137px;
  height: 33px;
  /* left: 208px; */
  top: 318px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 47px;
  color: #47ddcb;
}
.booking-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 46%;
  height: 155px;
  left: 50%;
  transform: translate(-16%, 50%);
  top: 15%;
}
.booking-info > input {
  width: 40%;
  height: 48%;
  left: 684px;
  top: 243px;
  background: #ffffff;
  border: 1px solid #47ddcb;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  outline: none;
  size: 7rem;
  z-index: 10;
}
.booking-info > label {
  text-align: left;
  float: left;
  display: block;
  position: relative;
  left: -20%;
  top: 23%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}
.my-booking {
  height: 100vh;
  width: 100vw;
  background: white;
  position: relative;
}

.mybooking-check-avail {
  position: absolute;
  width: 279px;
  height: 49px;
  left: 50%;
  top: 456px;
  background: #ffffff;
  border: 1px solid #47ddcb;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #47ddcb;
  transform: translate(-50%, 50%);
  z-index: 1;
  outline: none;
  cursor: pointer;
}
.mybooking-book {
  position: absolute;
  width: 162px;
  height: 57px;
  left: 50%;
  transform: translate(-50%, 50%);
  top: 562px;
  background: #47ddcb;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

/* list booking user */
.list-booking {
  position: relative;
  width: 1271px;
  height: 552px;
  left: 50%;
  transform: translate(-50%, 50%);
  top: -4%;
  background: #eeeeee;
}
.list-booking > table {
  width: 100%;
}
td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
.booking-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}
